/* 
    Created on : 08/04/2019, 15:34:10
    Author     : Manutenção Lira
*/

*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul{list-style: none;}
a{text-decoration: none;}
a img{border: 0;}

/*Pequena alteração nos icones*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
    position: relative;
    top: .125em;
}

/*CONTAINER*/
.container{width: 80%; margin: 0 auto; padding: 40px;}
.notfound{min-height: 532px;}

/*FONT STYLE*/
.text-shadow{text-shadow: 1px 1px rgba(0,0,0,0.2); -moz-text-shadow: 1px 1px rgba(0,0,0,0.2); -webkit-text-shadow: 1px 1px rgba(0,0,0,0.2);}

/*TITLE*/
.title-header{margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #000;}
.title-header span{font-size: 1.2em; padding-bottom: 9px; border-bottom: 3px solid #000;}
.title-header .title-color{border-color: #fbc02d;}

/*CURSOR*/
.cursor{cursor: pointer;}

/*BoxShadow*/
.boxshadow{box-shadow: 0 0 5px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);}

/*RADIUS*/
.radius{border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.border-radius{border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;}
.circle{border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}

/*BUTTON STYLE*/
.btn{color: #fff; background: #ccc; box-shadow: 0 3px 5px rgba(0,0,0,0.5); -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5); cursor: pointer; transition: 0.5s;}
.btn:hover{background: #555; box-shadow: 0 0 0 rgba(0,0,0,0); -moz-box-shadow: 0 0 0 rgba(0,0,0,0); -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);}

.btn-black{color: #fff; background: #000;}
.btn-black:hover{background: #ff0000;}
.btn-blue{color: #fff; background: #1565c0;}
.btn-blue:hover{background: #0d47a1;}
.btn-green{color: #fff; background: #00695c;}
.btn-green:hover{background: #004d40;}

/*PAGINATION*/
.paginator{flex-basis: 100%; margin-top: 50px; padding: 15px; background: #fbc02d; text-align: center; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;}
.paginator li{display: inline-block;}
.paginator a, .paginator span{margin: 0 5px; padding: 4px 8px; font-size: 0.9em; color: #333; font-weight: 700; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: 0.5s;}
.paginator a:hover{background: #f5f5f5; color: #000;}
.paginator .active{background: #333; color: #fff;}
.paginator .active:hover{background: #f5f5f5; color: #000;}

/*MENSAGEM DO SISTEMA*/
.trigger{padding: 15px; font-size: 0.9em; color: #000; background: #888; border: 1px solid #ccc; text-shadow: 1px 1px rgba(0,0,0,0.3); -moz-text-shadow: 1px 1px rgba(0,0,0,0.3); -webkit-text-shadow: 1px 1px rgba(0,0,0,0.3); border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.trigger-success{color: #000; background: #0097a7; border-color: #00838f;}
.trigger-success:before{position: relative; top: .125em; color: #000; font-size: 15px; content: "\65"; font-family: "painelml"; margin-right: 10px;}
.trigger-infor{color: #000; background: #1976d2; border-color: #1565c0;}
.trigger-infor:before{position: relative; top: .125em; color: #000; font-size: 15px; content: '\62'; font-family: "painelml"; margin-right: 10px;}
.trigger-alert{color: #000; background: #ffeb3b; border-color: #fdd835;}
.trigger-alert:before{position: relative; top: .125em; color: #000; font-size: 15px; content: "\63"; font-family: "painelml"; margin-right: 10px;}
.trigger-error{color: #000; background: #d32f2f; border-color: #c62828;}
.trigger-error:before{position: relative; top: .125em; color: #000; font-size: 15px; content: "\64"; font-family: "painelml"; margin-right: 10px;}